# see https://blog--simonpcouch.netlify.app/blog/r-github-actions-commit/ as reference

name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:


jobs:
  build_data:  
    runs-on: ubuntu-latest
    
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE
     - uses: actions/checkout@v2

      # Creates R setup
     - uses: r-lib/actions/setup-r@master
       with:
         r-version: 4.1.2
 
     - uses: r-lib/actions/setup-pandoc@master
      
     - name: Install Dependencies
       shell: sh
       run: | 
          cd ./datageneration && ./install_requirements.sh
    
     - name: Run Data Generation Script       
       shell: sh
       run: | 
          cd ./datageneration && ./create_data.sh -s 9865412 -n 40

     - name: Run descriptive analyzer
       shell: sh
       run: | 
          cd ./datageneration && ./analyse_data.sh

     - uses: actions/upload-artifact@v2
       with:
         name: data
         path: |
           ./datageneration/data.csv
           ./datageneration/plots/